/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #555;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h3, h2, h1 {
    font-weight: normal;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: #4AA380;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Lato, Arial, sans-serif;
}

.wrapper {
    margin: 0 5%;
    width: 90%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
}

.logo {
    float: left;
    margin-top: 0.9em;
    margin-right: 0.7em
}

aside img {
    width: 420px;
}

.toast {
    font-family: "Roboto", sans-serif;
    background-color: #00BD9B;
    border-radius: 2px;
    width: 180px;
    height: 32px;
    padding-top: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 256px;
    opacity: 0;
 }

 #incomingToast {
    position: absolute;
    -webkit-animation: incoming 7.5s ease 0s infinite; /* Chrome, Safari, Opera */
    -moz-animation: incoming 7.5s ease 0s infinite; /* Firefox */
    animation: incoming 7.5s ease 0s infinite;
 }

#declineToast {
    background-color: #C7274A;
    color: #FFFFFF;
    position: absolute;
    -webkit-animation: decline 7.5s ease 0s infinite; /* Chrome, Safari, Opera */
    -moz-animation: decline 7.5s ease 0s infinite; /* Firefox */
    animation: decline 7.5s ease 0s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes incoming {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    10% {
        opacity: 1;
        margin-left: 0px
    }
    50% {
        opacity: 1;
        margin-left: 0px;
    }
    60% {
        opacity: 0;
        margin-left: 256px;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes decline {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    75% {
        opacity: 0;
        margin-left: 256px
    }
    83% {
        opacity: 1;
        margin-left: 0px
    }
    92% {
        opacity: 1;
        margin-left: 0px;
    }
    100% {
        opacity: 0;
        margin-left: 256px;
    }
}

/* Firefox */
@-moz-keyframes incoming {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    10% {
        opacity: 1;
        margin-left: 0px
    }
    50% {
        opacity: 1;
        margin-left: 0px;
    }
    60% {
        opacity: 0;
        margin-left: 256px;
    }
}

/* Firefox */
@-moz-keyframes decline {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    75% {
        opacity: 0;
        margin-left: 256px
    }
    83% {
        opacity: 1;
        margin-left: 0px
    }
    92% {
        opacity: 1;
        margin-left: 0px;
    }
    100% {
        opacity: 0;
        margin-left: 256px;
    }
}

/* Standard */
@keyframes incoming {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    10% {
        opacity: 1;
        margin-left: 0px
    }
    50% {
        opacity: 1;
        margin-left: 0px;
    }
    60% {
        opacity: 0;
        margin-left: 256px;
    }
}

/* Standard */
@keyframes decline {
    0% {
        opacity: 0;
        margin-left: 256px;
    }
    75% {
        opacity: 0;
        margin-left: 256px
    }
    83% {
        opacity: 1;
        margin-left: 0px
    }
    92% {
        opacity: 1;
        margin-left: 0px;
    }
    100% {
        opacity: 0;
        margin-left: 256px;
    }
}
 
article > header > h3 {
    color: #888888;
    font-style: italic;
    margin-top: 0px;
}

section#intro {
  margin-top: 48px;
}

.footer-container > .wrapper > h3 {
    font-size: 30px;
}

.footer-container > .wrapper > p {
    width: 50%;
    margin-left: 25%;
}

.footer-container > .wrapper > ul {
    list-style-type: none;
}

.footer-container > .wrapper > ul > li > .fa {
    margin-left: -40px;
    margin-right: 10px;
    color: #317b5e;
}

.footer-container > .wrapper > ul > li a {
  color: #317b5e;
  text-decoration: none;
}

.header-container,
.footer-container {
    background: #56bc94;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;

    color: white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #38886C;
  cursor: default;
}

nav a:hover,
nav a:visited,
nav a:focus {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #38886C;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 90px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container div {
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    margin: 0;
}

div .copyright {
    text-align: left;
    padding-bottom: 6px;
    background-color: #444444;
}

div .copyright-text {
    width: 100%;
    padding-top: 0px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

pre {
    padding: 9.5px !important;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15) !important;
    font-size: 14px;
    line-height: 20px;
    background-color: #FCFCFC;
}

.pln {
    color: #666 !important;
}

#features ul li {
   margin-bottom: 10px;
   list-style-image: url('../img/bullet.png');
   list-style-position: outside;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 17%;
        margin-bottom: 0;
        font-weight: normal;
        margin: 0 5px;
        padding: 25px 4px;
    }

    nav li:first-child a {
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 1140px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                width: 100%;
                box-shadow: 0 5px 10px #aaa;
                z-index: 1;
                position: fixed;
    }

    .main aside {
                width: 100%;
                margin-top: 48px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        width: 60%;
        float: left;
    }

    .main aside {
        width: 40%;
        float: right;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
    width: 1170px;
    margin: 0 auto; /* 1140px - 10% for margins */
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    nav {
        display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}